<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>SocialMediator</title>

    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" />

    <script type="text/javascript" th:src="@{/webjars/angularjs/1.4.3/angular.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/app/app.js}"></script>
</head>
<body ng-app="app" ng-controller="home as home">
    <div class="container" ng-show="!home.authenticated">
        Login with: <a href="/login">GitHub</a>
    </div>
    <div class="container" ng-show="home.authenticated">
        Logged in as: <span ng-bind="home.user"></span>
        <div>
            <button ng-click="home.logout()" class="btn btn-default">Logout</button>
        </div>
        Registered social networks:
        <ul>
            <li ng-repeat="sn in home.socialNetworks"><a href="/feed#?social_network={{sn}}">{{sn}}</a></li>
        </ul>
        <button ng-click="home.authorizeTwitter()" class="btn btn-default">Authorize Twitter</button>
        <button ng-click="home.authorizeFacebook()" class="btn btn-default">Authorize Facebook</button>
    </div>
</body>
</html>